* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 124, 162);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s ease;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    background-color: #ffcccc;
    border: 3px solid #ff6666;
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    max-width: 400px;
    width: 100%;
    transition: background-color 0.3s ease, border 0.3s ease;
}

#minutes, #seconds {
    font-size: 5rem;
    font-weight: bold;
    color: #333;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

#status {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
    font-weight: bold;
}

button {
    background-color: #ff4747;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 10px;
}

button:hover {
    background-color: #ff1a1a;
}
